@model IEnumerable<MVCHomework1.Models.客戶聯絡人>

@{
    ViewBag.Title = "Index";
}

@{
    var 客戶聯絡人 = Model.ToArray();
}


    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.職稱)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.姓名)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.手機)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.電話)
            </th>
        </tr>

        @for (int i = 0; i < 客戶聯絡人.Length; i++)
        {

            @Html.HiddenFor(modelItem => 客戶聯絡人[i].Id)
            @Html.HiddenFor(modelItem => 客戶聯絡人[i].姓名)
            @Html.HiddenFor(modelItem => 客戶聯絡人[i].Email)
            @Html.HiddenFor(modelItem => 客戶聯絡人[i].是否已刪除)
            <tr>
                <td>
                    @Html.EditorFor(modelItem => 客戶聯絡人[i].職稱)<br />
                    @Html.ValidationMessageFor(modelItem => 客戶聯絡人[i].職稱, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => 客戶聯絡人[i].姓名)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => 客戶聯絡人[i].Email)
                </td>
                <td>
                    @Html.EditorFor(modelItem => 客戶聯絡人[i].手機)<br />
                    @Html.ValidationMessageFor(modelItem => 客戶聯絡人[i].手機, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.EditorFor(modelItem => 客戶聯絡人[i].電話)<br />
                    @Html.ValidationMessageFor(modelItem => 客戶聯絡人[i].電話, "", new { @class = "text-danger" })
                </td>
            </tr>
        }
    </table>
    


