@model IEnumerable<MVCHomework1.Models.客戶聯絡人>



<table class="table">
    <tr>
        <th>
            @Html.ActionLink("職稱", "Index", new { sortOrder = "職稱_" + ViewBag.SortOrder, keyword = ViewBag.Keyword })
            @Html.DropDownList("職稱List", (SelectList)ViewBag.職稱List, htmlAttributes: new { @id = "ddl", @onchange = "onSelectChanged(this)" })
        </th>
        <th>
            @Html.ActionLink("姓名", "Index", new { sortOrder = "姓名_" + ViewBag.SortOrder, keyword = ViewBag.Keyword })

        </th>
        <th>
            @Html.ActionLink("Email", "Index", new { sortOrder = "Email_" + ViewBag.SortOrder, keyword = ViewBag.Keyword })

        </th>
        <th>
            @Html.ActionLink("手機", "Index", new { sortOrder = "手機_" + ViewBag.SortOrder, keyword = ViewBag.Keyword })

        </th>
        <th>
            @Html.ActionLink("電話", "Index", new { sortOrder = "電話_" + ViewBag.SortOrder, keyword = ViewBag.Keyword })

        </th>
        <th>
            @Html.ActionLink("客戶名稱", "Index", new { sortOrder = "客戶名稱_" + ViewBag.SortOrder, keyword = ViewBag.Keyword })

        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.職稱)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.姓名)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.手機)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.電話)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.客戶資料.客戶名稱)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
</table>