@using PagedList
@using PagedList.Mvc
@model IEnumerable<MVCHomework1.Models.客戶聯絡人>

@{
    ViewBag.Title = "Index";
}

@section scripts
{
    <script>
        $(function () {
            $(".pagination a").on("click", function () {
                var href = $(this).attr("href");
                var pid = href.substring(href.indexOf('?page=') + 6);
                document.form1.page.value = pid;
                document.form1.submit();
                return false;
            });

            $("#btnCreate").on("click", function () {
                location.href = "@Url.Action("Create")";
            });

            $(".table a").each(function () {
                var sortOrder = $("#sortOrder").val();
                var sortColumn = $("#sortColumn").val();

                if (sortOrder == "ASC") {
                    sortOrder = "↓";
                }
                else if (sortOrder == "DESC")
                    sortOrder = "↑";

                if (sortColumn != "") {
                    $("table a").each(function () {
                        var currentColumnName = $(this).text();
                        if (currentColumnName == sortColumn) {
                            $(this).text(currentColumnName + sortOrder);
                        }
                    });
                }
            });
        });
        function Sort(columnName, sortOrder) {
            $("#sortColumn").val(columnName);
            $("#sortOrder").val(sortOrder);
            document.form1.submit();
            return false;
        }

        function Export() {
            $("form[name='form1']").attr("action", "客戶聯絡人/Export");
            document.form1.submit();
            $("form[name='form1']").attr("action", "客戶聯絡人/Index");
            return false;
        }
    </script>
}


@using (Html.BeginForm("Index", "客戶聯絡人", FormMethod.Get, new { name = "form1" }))
{
    <p>
        <table>
            <tr>
                <td>
                    <input type="button" id="btnCreate" value="新增" class="btn btn-default">
                </td>
                <td>
                    關鍵字:
                </td>
                <td>
                    @Html.TextBox("keyword", null, new { @class = "form-control" })
                </td>
                <td>
                    <input type="submit" value="查詢" class="btn btn-default" />
                </td>
                <td>
                    <input type="button" value="匯出" class="btn btn-default" onclick="return Export();" />
                </td>
            </tr>
        </table>
    </p>

    @Html.Hidden("sortOrder")
    @Html.Hidden("sortColumn")
    @Html.Hidden("page")
    <table class="table">
        <tr>
            <th>
                @Html.ActionLink("職稱", "Index", null, new { onclick = string.Format("return Sort('{0}', '{1}');", "職稱", ViewBag.sortOrder) })
                @Html.DropDownList("jobTitle", null, "全部" , new { onchange= "this.form.submit();" })
            </th>
            <th>
                @Html.ActionLink("姓名", "Index", null, new { onclick= string.Format("return Sort('{0}', '{1}');", "姓名", ViewBag.sortOrder) })

            </th>
            <th>
                @Html.ActionLink("Email", "Index", null, new { onclick = string.Format("return Sort('{0}', '{1}');", "Email", ViewBag.sortOrder) })

            </th>
            <th>
                @Html.ActionLink("手機", "Index", null, new { onclick = string.Format("return Sort('{0}', '{1}');", "手機", ViewBag.sortOrder) })

            </th>
            <th>
                @Html.ActionLink("電話", "Index", null, new { onclick = string.Format("return Sort('{0}', '{1}');", "電話", ViewBag.sortOrder) })

            </th>
            <th>
                @Html.ActionLink("客戶名稱", "Index", null, new { onclick = string.Format("return Sort('{0}', '{1}');", "客戶名稱", ViewBag.sortOrder) })

            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.職稱)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.姓名)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.手機)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.電話)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.客戶資料.客戶名稱)
                </td>
                <td>
                    @Html.ActionLink("編輯", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("詳細資訊", "Details", new { id = item.Id }) |
                    @Html.ActionLink("刪除", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </table>
    @Html.PagedListPager(Model as IPagedList, p => Url.Action("Index", new { page = p }))
}


@section Index{
    <li><a href="@Url.Action("Index", "客戶聯絡人")">客戶聯絡人</a></li>
}
